<div id="<%= dom_id schedule %>">
  <p>
    <strong>Workout:</strong>
    <%= schedule.workout_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= schedule.user_id %>
  </p>

  <p>
    <strong>Scheduled on:</strong>
    <%= schedule.scheduled_on %>
  </p>

</div>
